@CHARSET "UTF-8";

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
  margin: 0;
}

ul.ui-autocomplete {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3px;
}

a.autocomplete-deluxe-single:hover {
  text-decoration: none;
}

.ui-autocomplete .ui-state-hover {
  background-color: #3875d7;
  color: #fff;
  padding: 0;
  margin: 0;
}

.autocomplete-deluxe-container {
  display: inline-block;
  position: relative;
  padding: 0;
  border: 1px solid #EEE;
}

div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
  background: #fff no-repeat -38px -22px;
  padding: 4px 5px 4px 5px;
  border: 1px solid #EEE;
}

div.autocomplete-deluxe-container input.autocomplete-deluxe-form-single  {
  width: 90%;
  border: none;
}

.autocomplete-deluxe-search {
  margin: 0px 0px 4px 0px;
  padding: 3px 4px;
  position: relative;
  white-space: nowrap;
  z-index: 1010;
}

span.autocomplete-deluxe-value-delete {
  display: inline-block;
  float: right;
  background:url('x.gif') no-repeat center;
  width: 18px;
  width: 18px;

  /* Prevent text selection. */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.autocomplete-deluxe-single-open {
  border: 1px solid #aaa;
}

input.autocomplete-deluxe-closed {
}

div.autocomplete-deluxe-multiple {
  display: inline-block;
  position: relative;
  padding: 0.4em 0;
  border: 1px solid #E8E6E5;
  border-radius: 4px;
  cursor: text;
  height: auto !important;
  margin: 0;
  overflow: hidden;
  line-height: 1.4em;
  width: 100%;
  cursor: text;
}

input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
  border: 3px none;
  width: 25px;
  margin-left: 5px;
  float: left;
  height: 100%;
  line-height: 100%;
}

div.autocomplete-deluxe-throbber {
  width: 16px;
  float: right;
  height: 50%;
}

.autocomplete-deluxe-closed {
  background: url(throbber.gif) no-repeat 100% 6px;
}

.autocomplete-deluxe-open {
  background: url(throbber.gif) no-repeat 100% -14px;
}

.autocomplete-deluxe-item {
  float: left;
  background-color: #EEE;
  border-radius: 4px;
  cursor: default;
  line-height: 0.6em;
  margin: 3px 0 3px 5px;
  padding: 0.6em 1.2em 0.6em 0.8em;
  position: relative;
}

.autocomplete-deluxe-item-delete {
  background: url("x.gif");
  display: block;
  font-size: 1px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 12px;
}
.autocomplete-deluxe-item-focus {
  background: none repeat scroll 0 0 #D4D4D4;
}

.autocomplete-deluxe-highlight-char {
  color: blue;
  font-weight: bold;
}
